{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block nav%}
<div class="az-content-left az-content-left-components">
    <div class="component-item">
        <label>Inicio</label>
        <nav class="nav flex-column">
            <a href="/" class="nav-link">Inicio</a>
        </nav>
        <label>Nomina</label>
        <nav class="nav flex-column">
            <a href="{%url 'empleados:listaNomina'%}" class="nav-link">Listar Roles</a>
            <a href="{%url 'empleados:creaRol'%}" class="nav-link active">Nuevo Rol</a>

        </nav>

    </div><!-- component-item -->

</div>

{% endblock nav%}

{% block blank %}
<div class="main-panel">
    <div class="row justify-content-center">
        <div class=" col-lg-11 grid-margin stretch-card">
            <div class="card ">
                <div class="card-title pt-1 text-center">
                    <h4 class="card-title pt-3 col-12 ">GENERAR ROL</h4>
                </div>
                <div class="card-body">

                    <form id="ano-mes" method="POST">
                        {% csrf_token %}
                      

                        <select class="form-select" aria-label="" id="mes" name="mes">
                           
                            <option value="0">Mes</option>
                            {% for value in mes %}
                            {% if value.mes == "1" %}
                            <option value="{{value.mes}}">ENERO</option>
                            {% endif %}
                            {% if value.mes == "2" %}
                            <option value="{{value.mes}}">FEBRERO</option>
                            {% endif %}
                            {% if value.mes == "3" %}
                            <option value="{{value.mes}}">MARZO</option>
                            {% endif %}
                            {% if value.mes == "4" %}
                            <option value="{{value.mes}}">ABRIL</option>
                            {% endif %}
                            {% if value.mes == "5" %}
                            <option value="{{value.mes}}">MAYO</option>
                            {% endif %}
                            {% if value.mes == "6" %}
                            <option value="{{value.mes}}">JUNIO</option>
                            {% endif %}
                            {% if value.mes == "7" %}
                            <option value="{{value.mes}}">JULIO</option>
                            {% endif %}
                            {% if value.mes == "8" %}
                            <option value="{{value.mes}}">AGOSTO</option>
                            {% endif %}
                            {% if value.mes == "9" %}
                            <option value="{{value.mes}}">SEPTIEMBRE</option>
                            {% endif %}
                            {% if value.mes == "10" %}
                            <option value="{{value.mes}}">OCTUBRE</option>
                            {% endif %}
                            {% if value.mes == "11" %}
                            <option value="{{value.mes}}">NOVIEMBRE</option>
                            {% endif %}
                            {% if value.mes == "12" %}
                            <option value="{{value.mes}}">DICIEMBRE</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <select class="form-select" aria-label="" id="ano" name="ano">
                            <option value="0">Año</option>
                            {% for value in ano %}
                                {% if value.ano == "1" %}
                                <option value="{{value.ano}}">2021</option>
                                {% endif %}
                                {% if value.ano == "2" %}
                                <option value="{{value.ano}}">2022</option>
                                {% endif %}
                                {% if value.ano == "3" %}
                                <option value="{{value.ano}}">2023</option>
                                {% endif %}
                                {% if value.ano == "4" %}
                                <option value="{{value.ano}}">2024</option>
                                {% endif %}
                            {% endfor %}
                        </select>

                        <button type="submit" class="mr-2 mt-2 btn btn-sm badge-warning">Generar</button>

                    </form>
                    <div class="table-responsive ">
                        <table class="table table-fit    table-striped table-sm" id="rol">
                            <thead class="text-center ">
                                <tr>
                                    <th>ACCIONES</th>
                                    <th>IDENTIFICACION</th>
                                    <th>AÑO</th>
                                    <th>MES</th>
                                    <th>DIAS</th>
                                    <th>HORAS SUPLEMENTARIAS 25</th>
                                    <th>VALOR 25%</th>
                                    <th>HORAS SUPLEMENTARIAS 50</th>
                                    <th>HORAS EXTRAS 100</th>
                                    <th>COMISIONES</th>
                                    <th>TRANSPORTE</th>
                                    <th>BONO ADICIONAL</th>
                                    <th>MOVILIZACION</th>
                                    <th>PRESTAMO IESS</th>
                                    <th>OTROS DESCUENTOS</th>
                                    <th>MULTAS</th>
                                    <th>ANTICIPOS</th>
                                    <th>OTROS PRESTAMOS</th>
                                </tr>
                            </thead>

                            <tbody class="">
                                {% for m in a%}
                                {%for p in procesarol %}
                                <tr >
                                    <td class="text-center">
                                        <a type="button" class="badge badge-warning"
                                            onclick="editaRol('{{m.id}}')">Editar</a>
                                        <a type="button" class="badge badge-danger" href="#"
                                            onclick="eliminaRol('{{m.id}}', '{{m.identificacion.primerNombre}} {{m.identificacion.segundoNombre}} {{m.identificacion.primerApellido}} {{m.identificacion.segundoApellido}}', '{{m.ano}}', '{{m.mes}}')">Eliminar</a>

                                    </td>
                                    <td >{{m.identificacion.primerNombre}} {{m.identificacion.segundoNombre}} {{m.identificacion.primerApellido}} {{m.identificacion.segundoApellido}}</td>
                                    <td>{{m.get_ano_display}}</td>
                                    <td>{{m.get_mes_display}}</td>
                                    <td>{{m.dias}}</td>
                                    <td>{{m.horas25|floatformat:2}}</td>
                                    {% if {{p.identificacion}} == {{m.identificacion}} %}
                                    <td>{{p.valor25}}</td>
                                    {%end if%}

                                    
                                    <td>{{m.horas50|floatformat:2}}</td>
                                    <td>{{m.extraHoras100|floatformat:2}}</td>
                                    <td>{{m.comisiones|floatformat:2}}</td>
                                    <td>{{m.transporte|floatformat:2}}</td>
                                    <td>{{m.bonoAdicional|floatformat:2}}</td>
                                    <td>{{m.movilizacion|floatformat:2}}</td>
                                    <td>{{m.prestamoIESS|floatformat:2}}</td>
                                    <td>{{m.otrosDescuentos|floatformat:2}}</td>
                                    <td>{{m.multas|floatformat:2}}</td>
                                    <td>{{m.anticipos|floatformat:2}}</td>
                                    <td>{{m.otrosPrestamos|floatformat:2}}</td>
                                    

                                </tr>
                                {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function procesar(){
        let tabla = document.getElementById("rol");
       
        for (let i = 1, celda; i <= tabla.rows.length; i++){
            celda = tabla.rows[i].cells[5].innerHTML;
            valor25 = parseFloat(celda) *13.25;
            console.log(valor25);
        };
       
    
    }
    procesar()

</script>



<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function GuardarDatos() {
        var form = new FormData(document.getElementById('ano-mes'));
        //var lista = document.getElementById('ul-suscriptor');
        //
        fetch("/", {
            method: "POST",
            body: form,
            headers: {
                "X-CSRFToken": getCookie('csrftoken'),
                "X-Requested-With": "XMLHttpRequest"
            }

        }).then(
            function(response) {
                console.log(response);
                return response.json()
            }
        )//.then(
         //   function(data) {
         //       array_sus = data.suscriptores;
         //       var li = document.createElement('li');
         //       li.innerHTML = array_sus[array_sus.length - 1].full_name + array_sus[array_sus.length - 1].email 
         //       //
         //       lista.appendChild(li);
            }
      //  )
   // }
</script>
<script>
    $ = jQuery.noConflict
    
    $(function () {
    $('#rol').bootstrapTable({
       data: data
    });
    console.log(data);
    
}
);

</script>







{% endblock %}