
<div class="modal-dialog">
    {% load crispy_forms_tags %}
    <div class="modal-content">
        <form action="{% url 'config:creacia'%}" method="POST">
            {% csrf_token%}
            <div class="modal-header bg-azure shadow">
                <h5 class="modal-title" id="exampleModalLabel">Crear Compañia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {{form.identificacion|as_crispy_field}}
                    {{form.razonSocial|as_crispy_field}}
                    {{form.nombreComercial|as_crispy_field}}
                    <div class="form-group col-6 mb-0 p-2">
                        {{form.tipoContribuyente|as_crispy_field}}
    
                    </div>
                    
                    <div class="form-group col-6 form-switch  mb-0 pt-4 pb-2">
                        {{form.llevaContabilidad|as_crispy_field}}
    
                    </div>
                   
                    {{form.direccion|as_crispy_field}}
                    {{form.establecimiento|as_crispy_field}}
                </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-pink" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-azure">Guardar</button>
            </div>
        </form>
    </div>
</div>