<div class="modal-dialog">
    <div class="modal-content">
        <form action="{% url 'config:editacentro' object.id %}" method="POST">
            {% csrf_token%}
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Centro de Costos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{form}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-azure">Guardar</button>
            </div>
        </form>
    </div>
</div>
</div>